<h1>Tasks List</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% @tasks.each do |task| %>
    <tr>
      <td> <input type = "checkbox"> <%= task.title %> </td>     
    </tr>
  <% end %>
</table>
